body {
    font-family: Consolas, monospace;
    font-size: 1em;
    background: black;
    color: white;
    white-space: pre-line;
}

input[type=range] {
    pointer-events: none;
}
input[type=range]::-moz-range-thumb {
    pointer-events: auto !important;
}
input[type=range]::-ms-thumb {
    pointer-events: auto !important;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: auto !important;
}

select{
    padding: 3px;
    margin: 3px;
}

.input{
    border-style: none none none solid;
    border-width: 10px;
}

.eq {
    background-color: rgba(255, 0, 0, 0.2);
}

.dyn, .gate{
    background-color: rgba(0, 255, 0, 0.2);
}

.fx {
    background-color: rgba(255, 0, 255, 0.2);
}

.aux {
    background-color: rgba(255, 255, 0, 0.2);
}
