body {
    font-family: Consolas, monospace;
    font-size: 0.7em;
    background: black;
    color: white;
    white-space: pre-line;
}

input[type=range] {
    pointer-events: none;
}
input[type=range]::-moz-range-thumb {
    pointer-events: auto !important;
}
input[type=range]::-ms-thumb {
    pointer-events: auto !important;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: auto !important;
}

.slider{
    
}

.eq {
    background-color: rgba(255, 0, 0, 0.1);
}

.dyn, .gate{
    background-color: rgba(0, 255, 0, 0.2);
}

.fx {
    background-color: rgba(255, 0, 255, 0.1);
}

.aux {
    background-color: rgba(255, 255, 0, 0.1);
}
